<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Yuhan.Common" version="1.5.4" targetFramework="net40-Client" />
  <package id="Yuhan.WPF" version="1.4.2.0" targetFramework="net40-Client" />
  <package id="Yuhan.WPF.GaugeBar" version="1.0.0" targetFramework="net40-Client" />
</packages>